/********************
    extra class
*********************/

.text-shadow-black{
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.btn-normal{
    margin: 3.5vh 0 15vh 0;
    padding: 1vw 5vw;
    border-radius: 2.7vw;
    color: white;
    font-size: 1.3vw;
}

.btn-bg-blue-to-white{
    background: linear-gradient( 0deg, rgb(15,75,143), rgb(255,255,255));
}

.btn-border-6-s-silver{
    border: 6px solid silver;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}
/***********************
    class background
************************/

.backgorund-img img{
    width: 100%;
    max-height: 1800px;
    position: absolute;
    z-index: -1;
}


/********************
    class video
*********************/

.sample-video{
    padding-top: 2.5vw;
    margin-bottom: 15vw;
}

.video-box{
    border: 10px solid rgb(139,186,221);
}

.video-box:nth-child(0){
    display: none;
}


/***************************
    class content-box
****************************/

.content-box:nth-child(odd){
    margin: 5vh 0;
    padding: 5%;
    background: linear-gradient( 0deg, rgb(15,75,143), rgb(24,117,208));
}

.content-box:nth-child(odd) h1{
    color: rgb(230,217,133);
    font-size: 95px;
    line-height: 95px;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}

.content-box:nth-child(odd) ul,
.content-box:nth-child(odd) p{
    color: white;
    font-size: 38.5px;
    line-height: 38.5px;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.content-box:nth-child(even){
    margin: 5vh 0;
    padding: 5%;
}

.content-box:nth-child(even) h1{
    color: rgb(15,73,139);
    font-size: 95px;
    line-height: 95px;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}

.content-box:nth-child(even) ul,
.content-box:nth-child(even) p{
    color: rgb(15,73,139);
    font-size: 38.5px;
    line-height: 38.5px;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.content-box:nth-child(even) ul,
.content-box:nth-child(odd) ul{
    padding-left: 3.5vw;
}

.content-box h1{
    text-transform: uppercase;
}

/********************
    class banner
*********************/

.banner{
    margin-bottom: 10vh;
}

@media only screen and (min-width: 1332px) {
    .content-header img {
        width: 90%;
    }
}

/****************************
    class content header
*****************************/

.content-header img{
    width: 60vw;
    height: auto;
}

.landing-header img{
    margin: 0;
}

/****************************
    class scroll button
 ****************************/

.scroll-btn-box{
    margin: 2.1vw 0;
}

.scroll-btn-box p{
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-weight: 500;
    color: rgb(230,217,133);
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

.scroll-btn i{
    background-color: rgb(230,217,133);
    margin: 1vw 0;
    padding: 5px 13px;
    font-size: 30px;
    line-height: 30px;
    color: white;
    border-radius: 19px;
    cursor: pointer;
}

.scroll-btn i:hover{
    animation-name: arrow;
    animation-duration: 1.25s;
}

/****************************
    class jumbotron
 ****************************/

.jumbotron-landing h1{
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-size: 95px;
    line-height: 95px;
    color: rgb(15,73,139);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 14px;
}

.jumbotron-highlight{
    background: linear-gradient( 45deg, rgb(199,176,084), rgb(230,217,133));
    margin-bottom: 30px;
}

.jumbotron-highlight h1{
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-size: 95px;
    line-height: 95px;
    color: white;
    font-weight: 500;
    margin: 0;
}

.jumbotron-landing p{
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-size: 35px;
    line-height: 35px;
    color: rgb(15,73,139);
    font-weight: 500;
    width: 60vw;
    margin: 0 auto;
}

/**********************
    class masonry
 **********************/
.masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    margin: 8vw 0;
}
.masonry-content-box {
    display: inline-block;
    background-color: rgb(15,73,139);
    border-radius: 15px;
    margin-top: 2vw;
}

.img-masonry{
    background-color: white;
}

.img-masonry img{
    width: 100%;
    height: auto;
}

.masonry-content-box p{
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    padding: 6vw 2vw;
    font-size: 30px;
    line-height: 30px;
    color: white;
    font-weight: 500;
}

.masonry-content-box span{
    color: rgb(230,217,133);
}

/**********************
    class carousel
 **********************/

.content-box-slides-view-landing{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    padding: 0;
}

.content-box-slide{
    background-color: rgb(15,73,139);
    margin-top: 2vw;
}

.content-box-slide:nth-child(1){
    border-top-right-radius: 15px;
}

.content-box-slide:nth-child(2){
    border-top-left-radius: 15px;
}

.content-box-slide-header{
    padding-top: 0.5vw;
}

.content-box-slide-header h1{
    color: white;
    font-size: 42px;
    line-height: 42px;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-weight: 500;
}

.content-box-slide-img img{
    width: 100%;
}

.content-box-slide-img input[type="button"]{

}

.content-box-slide-body{
    margin-top: 0.5vw;
    margin-bottom: 2vw;
}

.content-box-slide-body p{
    padding: 2vw 4vw 0 4vw;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-size: 35px;
    line-height: 35px;
    color: white;
    font-weight: 500;
}

.content-box-slide-img{
    position: relative;
}

.content-box-slide-text-over-img{
    position: absolute;
    bottom: -7.8%;
    left: 50%;
    margin-left: -15%;
}

.content-box-slide-text-over-img input[type="button"]{
    background: linear-gradient( 45deg, rgb(199,176,084), rgb(230,217,133));
    color: white;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-size: 35px;
    line-height: 35px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 0.1vw 3vw;
}

/*
    Extra large screen
    for tablet, small screen laptop, laptop and PC
*/

@media only screen and (max-width: 1200px) {
    .backgorund-img img{
        height: 1400px;
    }

    .content-header img {
        width: 50vw;
    }

    .jumbotron-landing h1{
        font-size: 6.6vw;
        line-height: 6.6vw;
        margin-bottom: 2.2vw;
    }
    .jumbotron-highlight h1{
        font-size: 6.6vw;
        line-height: 6.6vw;
    }

    .jumbotron-highlight{
        margin-bottom: 2.2vw;
    }

    .content-box:nth-child(even) h1,
    .content-box:nth-child(odd) h1{
        font-size: 6.1vw;
        line-height: 6.1vw;
        margin-bottom: 2.2vw;
    }

    .content-box-slide-text-over-img input[type="button"],
    .content-box-slide-header h1,
    .content-box-slide-body p,
    .masonry-content-box p,
    .jumbotron-landing p,
    .content-box:nth-child(even) ul,
    .content-box:nth-child(even) p,
    .content-box:nth-child(odd) ul,
    .content-box:nth-child(odd) p{
        font-size: 2.8vw;
        line-height: 2.8vw;
        margin-bottom: 0.5vw;
    }
}

/*
    large screen
    for small tablet, tablet, screen width mobile and small screen laptop
*/
@media only screen and (max-width: 992px) {
    .video-box{
        border: 5px solid rgb(139,186,221);
    }

    .sample-video{
        margin-bottom: 9vw;
    }

    .content-header img{
        width: 52vw;
        height: auto;
        margin-top: 0;
    }

    .backgorund-img img{
        height: 1050px;
    }

    .scroll-btn-box p{
        font-size: 3vw;
        line-height: 3vw;
    }

    .scroll-btn i{
        padding: 1vw 1.5vw;
        font-size: 3vw;
        line-height: 3vw;
        border-radius: 2.1vw;
    }

    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

/*
    Medium screen
    for mobile, small tablet andscreen width mobile
*/
@media only screen and (width: 768px) {
    .sample-video{
        margin-bottom: 9vw;
    }

    .content-header img {
        width: 43vw;
    }

    .backgorund-img img{
        height: 120vw;
    }

    .masonry-content-box{
        border-radius: 15px;
    }

    .content-box-slide-text-over-img{
        bottom: -5%;
        left: 50%;
        margin-left: -5%;
    }
}

@media only screen and (max-width: 768px) {

    .video{
        padding-top: 0;
    }

    .btn-border-6-s-silver{
        border: 3px solid silver;
    }

    .backgorund-img img{
        height: 120vw;
    }

    .sample-video{
        margin-bottom: 9vw;
    }

    .content-header img{
        width: 59vw;
    }

    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }

    .masonry-content-box{
        border-radius: 0;
    }

    .content-box-slides-view-landing{
        grid-template-columns: auto;
    }

    .content-box-slide:nth-child(1),
    .content-box-slide:nth-child(2){
        border-radius: 0;
    }

    .content-box-slide-text-over-img{
        bottom: -5%;
        left: 50%;
        margin-left: -5%;
    }
}

/* animation */
.animation-element{
    transition: all;
    transition-duration: 1s;
    opacity: 0;
}

.animation-fade-out{
    opacity: 0;
}

.animation-fade-in{
    opacity: 1;
}

@keyframes arrow {
    0%{
        margin: 1vw 0;
    }
    25% {
        margin: 1.25vw 0;
    }
    75% {
        margin: 0.9vw 0;
    }
    100%{
        margin: 1vw 0;
    }
}


/* font */
@font-face {
    font-family: 'Db helvethaicamon x';
    src: url('../fonts/db-helvethaicamon-x.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x v3';
    src: url('../fonts/DB-Helvethaica-X-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ulli v3';
    src: url('../fonts/DB-Helvethaica-X-UlLi-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ulli cond v3';
    src: url('../fonts/DB-Helvethaica-X-UlLi-Cond-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x v3';
    src: url('../fonts/DB-Helvethaica-X-Thin-v3.2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ulli ext it v3';
    src: url('../fonts/DB-Helvethaica-X-UlLi-Ext-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ulli ext v3';
    src: url('../fonts/DB-Helvethaica-X-UlLi-Ext-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ulli it v3';
    src: url('../fonts/DB-Helvethaica-X-UlLi-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ext v3';
    src: url('../fonts/DB-Helvethaica-X-Thin-Ext-v3.2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x it v3';
    src: url('../fonts/DB-Helvethaica-X-Thin-It-v3.2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ulli cond it v3';
    src: url('../fonts/DB-Helvethaica-X-UlLi-Cond-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ext it v3';
    src: url('../fonts/DB-Helvethaica-X-Thin-Ext-It-v3.2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x cond it v3';
    src: url('../fonts/DB-Helvethaica-X-Thin-Cond-It-v3.2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x med ext v3';
    src: url('../fonts/DB-Helvethaica-X-Med-Ext-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x cond v3';
    src: url('../fonts/DB-Helvethaica-X-Thin-Cond-v3.2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x med ext it v3';
    src: url('../fonts/DB-Helvethaica-X-Med-Ext-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x med v3';
    src: url('../fonts/DB-Helvethaica-X-Med-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x med it v3';
    src: url('../fonts/DB-Helvethaica-X-Med-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x med cond it v3';
    src: url('../fonts/DB-Helvethaica-X-Med-Cond-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x li cond v3';
    src: url('../fonts/DB-Helvethaica-X-Li-Cond-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x li it v3';
    src: url('../fonts/DB-Helvethaica-X-Li-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x li ext v3';
    src: url('../fonts/DB-Helvethaica-X-Li-Ext-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x med cond v3';
    src: url('../fonts/DB-Helvethaica-X-Med-Cond-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x li v3';
    src: url('../fonts/DB-Helvethaica-X-Li-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x li ext it v3';
    src: url('../fonts/DB-Helvethaica-X-Li-Ext-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x li cond it v3';
    src: url('../fonts/DB-Helvethaica-X-Li-Cond-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ext it v3';
    src: url('../fonts/DB-Helvethaica-X-Ext-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x ext v3';
    src: url('../fonts/DB-Helvethaica-X-Ext-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x it v3';
    src: url('../fonts/DB-Helvethaica-X-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x blk v3';
    src: url('../fonts/DB-Helvethaica-X-Blk-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x cond it v3';
    src: url('../fonts/DB-Helvethaica-X-Cond-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x blk it v3';
    src: url('../fonts/DB-Helvethaica-X-Blk-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x blk ext it v3';
    src: url('../fonts/DB-Helvethaica-X-Blk-Ext-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x blk cond v3';
    src: url('../fonts/DB-Helvethaica-X-Blk-Cond-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x cond v3';
    src: url('../fonts/DB-Helvethaica-X-Cond-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x blk ext v3';
    src: url('../fonts/DB-Helvethaica-X-Blk-Ext-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x blk cond it v3';
    src: url('../fonts/DB-Helvethaica-X-Blk-Cond-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x bd it v3';
    src: url('../fonts/DB-Helvethaica-X-Bd-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x bd ext it v3';
    src: url('../fonts/DB-Helvethaica-X-Bd-Ext-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x bd v3';
    src: url('../fonts/DB-Helvethaica-X-Bd-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x bd ext v3';
    src: url('../fonts/DB-Helvethaica-X-Bd-Ext-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x bd cond v3';
    src: url('../fonts/DB-Helvethaica-X-Bd-Cond-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Db helvethaica x bd cond it v3';
    src: url('../fonts/DB-Helvethaica-X-Bd-Cond-It-v3.2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

